<div class="col mb-10" >
            <div class="card" >
                <div class="card-body bg-warning">
                    <h5 class="card-title text-danger">{{key}}</h5>
                </div>
                <ul class="list-group list-group-flush text text-light">
                    <form class="{{text}}-form">
                        <li class="list-group-item bg-secondary">                       
                            <div>
                                <label for="user">User Name:</label>
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary">
                            <div>
                                <input class="w-100" type="text" id="{{text}}-user" />
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary">
                            <div>
                                <label for="password">password:</label>
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary">
                            <div>
                                <input  class="w-100" type="password" id="{{text}}-password" />
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary">
                            <div>
                                <button class="btn btn-warning" type="submit">{{key}}</button>
                            </div>
                        </li>
                        <li class="list-group-item bg-secondary"></li>
                            {{#if action}}                        
                                <a class="text-decoration-none" href="/signup">Instead Sign up</a> 
                            {{else}}
                                <a class="text-decoration-none" href="/login">Instead Login</a>
                            {{/if}}
                        </li>                            
                    </form>
                </ul>
            </div>
        </div>